
.azul{
    background-color: #0072C6;
}
.verde{
    background-color: #207245;
}
.roxo{
    background-color: #743484;
}
.roxoClaro{
    background-color: #535bac;
}
.azulEscuro{
    background-color: #0c4cb4;
}
.azulClaro{
    background-color:#0494bc;
}
.azulEscuroForte{
    background-color: #2c5c9c;
}
.azulEscuroDois{
    background-color: #0474c4;
}
.vermelho{
    background-color: #C84128;
}
.azulMuitoClaro{
    background-color: #04acf3;
}
.laranja{
    background-color: #fcbc04;
}
